.tab-bar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height:50px;
    border-bottom: 1px solid #e7e7e7;

}
.tab-bar>div{
    color:rgba(0,0,0,0.6);
    font-size: 18px;

    cursor: pointer;
    font-weight: 400;
    height:50px;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tab-bar>div{
    border-bottom: 4px solid rgba(56,142,60,0.0);

}
.tab-bar>div:hover{
    color:rgba(0,0,0,0.8);
    background-color: rgba(164, 168, 165, 0.3);
    border-radius: 2px;
    
}
.top-image{
    background-image: url('../Assets/classimage.jpg');
    max-width: 60%;
    height: 250px;
    background-color: green;
    margin:10px auto;
    border-radius: 10px;
    background-repeat: none;
    background-size: cover;
    box-shadow: 0 0 30px 10px rgba(183, 209, 170, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.top-image>.name-container{
    margin:25px;
}
.name-container>.name{
    color:white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.name-container>.createdon{
    color:white;
    font-size: 23px;
    font-weight: 400;
    margin-top: 5px;
}
.stream-container-main{
    max-width: 60%;
    margin:10px auto;
    display: flex;
    flex-direction: row;

}   
.work-dues{
    border:1px solid rgb(206, 209, 214);
    border-radius: 10px;
    height: 120px;
    flex-basis: 20%;
    padding:10px;
    margin-right: 15px;
    position: relative;

    /* box-shadow: 0 0 10px 1px rgba(168, 170, 173,.4); */
}
.work-dues-header-text{
    color:rgb(76, 78, 77);
    font-weight: 500;
    margin:5px
}
.no-work-message{
    color:rgba(59, 61, 60,.6);
    font-weight: 500;
    margin:7px;
    margin-top: 14px;
    font-size: 14px;
}
.view-all{
    color:green;
    font-weight: 500;
    font-size: 14px;
    margin:12px
}
.view-all-container{
    position: absolute;
    bottom: 0;
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    cursor: pointer;
}
.container-stream{
    flex-basis: 80%;
    margin-left:10px
}
.stream-card{
    border:1px solid rgb(206, 209, 214);
    height:70px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.stream-card:hover{
    box-shadow: 0 0 10px 1px rgba(168, 170, 173,.4);
}
.icon-container{
    width:45px;
    height:45px;
    border-radius: 50%;
    background-color:green;
    padding:0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-container>.icon{

}
.createdon{
    color:white;
    font-size: 23px;
    font-weight: 400;
    margin-top: 5px;
}
.card-header-text{
    color:rgb(76, 78, 77);
    font-weight: 500;
    margin-left:20px
}
.card-createdon{
    color:rgb(76, 78, 77);
    font-weight: 400;
    margin-left:20px;
    font-size: 13px;
}