.workview-container{
    max-width: 800px;
    margin:20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.work-submit-container{
    flex-basis: 20%;
    width:300px;
    height: auto;
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
    border-radius: 7px;
    padding:20px;
    margin-bottom: 30px;
}
.private-comments-container{
    flex-basis: 20%;
    width:300px;
    height: auto;
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
    border-radius: 7px;
    padding:20px
}
.your-work-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.your-work-header>div:nth-child(1){
    color: rgb(75, 75, 75);
    font-size: 25px;
    font-weight: 400;
}
.your-work-header>div:nth-child(2){
    color: green;
    font-size: 16px;
    font-weight: 470;
}
.addwor-button>img{
    margin-right:10px
}
.addwor-button:hover{
    background-color: rgb(202, 202, 202);
}
.addwor-button{
    width:90%;
    height:40px;
    border:1px solid rgb(202, 202, 202);
    margin:10px auto;
    border-radius: 6px;
    margin-top:25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color:rgb(61, 61, 61);
    cursor: pointer;
}
.work-submit-button{
    background-color: green;
    color:white;
    width:90%;
    height:40px;
    border:1px solid rgb(202, 202, 202);
    margin:10px auto;
    border-radius: 6px;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
   
}
.work-submit-button:hover{
    background-color: rgb(38, 156, 38);
}
.private-comments-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.private-comments-header>img{
    margin-right: 10px;
    
}
.private-comments-header>span{
    color: rgb(75, 75, 75);
    font-weight: 500;
}
.comment-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-icon-2{
    margin-right: 10px;
}
.input-container-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 30px;
    height:40px;
    
}
.input-container-1>input{
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(75, 75, 75);
    padding: 0 10px;
    font-size: 14px;

}
.input-container-1>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: px;
    cursor: pointer;
}